@import url(https://fonts.googleapis.com/css?family=Open+Sans);
html { width: 100%; height:100%;}

.btn { display: inline-block; *display: inline; *zoom: 1; padding: 4px 10px 4px; margin-bottom: 0; font-size: 13px; line-height: 18px; color: #333333; text-align: center;text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; background-color: #f5f5f5; background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6); background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6)); background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6); background-image: -o-linear-gradient(top, #ffffff, #e6e6e6); background-image: linear-gradient(top, #ffffff, #e6e6e6); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0); border-color: #e6e6e6 #e6e6e6 #e6e6e6; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); border: 1px solid #e6e6e6; -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); cursor: pointer; *margin-left: .3em; }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: #e6e6e6; }
.btn:hover { color: #333333; text-decoration: none; background-color: #e6e6e6; background-position: 0 -15px; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -ms-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear; }
.btn-primary, .btn-primary:hover { text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25); color: #ffffff; }
.btn-primary.active { color: rgba(255, 255, 255, 0.75); }
.btn-primary { background-color: #4a77d4; background-image: -moz-linear-gradient(top, #6eb6de, #4a77d4); background-image: -ms-linear-gradient(top, #6eb6de, #4a77d4); background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6eb6de), to(#4a77d4)); background-image: -webkit-linear-gradient(top, #6eb6de, #4a77d4); background-image: -o-linear-gradient(top, #6eb6de, #4a77d4); background-image: linear-gradient(top, #6eb6de, #4a77d4); background-repeat: repeat-x; filter: progid:dximagetransform.microsoft.gradient(startColorstr=#6eb6de, endColorstr=#4a77d4, GradientType=0);  border: 1px solid #3762bc; text-shadow: 1px 1px 1px rgba(0,0,0,0.4); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.5); }
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] { filter: none; background-color: #4a77d4; }

* { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; -ms-box-sizing:border-box; -o-box-sizing:border-box; box-sizing:border-box; }

body {
	color: white;
	margin: 0px;
	width: 100%;
	height:100%;
	font-family: 'Open Sans', sans-serif;
	background-color: #202020;
}

#header {
    padding: 8px;
    width: 100%;
    height: 62px;
}

#bkgr {
	background: #092756;
	background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
	background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
	width: 100%;
	height: 62px;
	background-color: black;
	position: fixed;
	z-index: 50;
}

#cuerpo {
	margin-top: 30px;
	text-align: center;
}

#mapa {
	position: absolute;
	left: 0;
	right: 0;
	width: 1950px;
}

#botonEnviarRecolector {
	position: fixed;
	z-index: 90;
	top: 75px;
	right: 30px;
}

#botonEnviarRecolector:hover {
	cursor: pointer;
}

.zona {
	color: black;
	opacity: 0.3;
	text-align: center;
	border-radius: 10px;
	position: absolute;
	z-index: 40;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.zona:hover{
	opacity: 0.8;
}

.contenidoZona {
	width: 100%;
	height: 100%;
	margin: opx;
	padding-top: 20px;
	opacity: 0;
}

#contenidoZona1:hover {
	opacity: 1;
}

#contenidoZona2:hover {
	opacity: 1;
}

#contenidoZona2 {
	padding-top: 25px;
}

#contenidoZona3:hover {
	opacity: 1;
}

#contenidoZona3 {
	padding-top: 30px;
}

#contenidoZona4 {
	padding-top: 35px;
}

#contenidoZona5 {
	padding-top: 35px;
}

#contenidoZona6 {
	padding-top: 50px;
}

#contenidoZona7 {
	padding-top: 60px;
}

#contenidoZona4:hover {
	opacity: 1;
}

#contenidoZona5:hover {
	opacity: 1;
}

#contenidoZona6:hover {
	opacity: 1;
}

#contenidoZona7:hover {
	opacity: 1;
}

#contenidoZona8 {
	padding: 0px;
}

#contenidoZona8 > h2 {
	margin: 0px;
	margin-bottom: 0px;
}

#contenidoZona8 > p{
	margin: 0px;
	margin-top: 5px;
	font-size: 15px;
}

#contenidoZona8:hover {
	cursor: pointer;
	opacity: 1;
}

#zonaA {
	margin-left: 786px;
	margin-top: 277px;
	width: 199px;
	height: 193px;
}

#zonaB {
	margin-left: 1000px;
	margin-top: 275px;
	width: 199px;
	height: 196px;
}

#zonaC {
	margin-left: 786px;
	margin-top: 484px;
	width: 200px;
	height: 215px;
}

#zonaD {
	margin-left: 1002px;
	margin-top: 483px;
	width: 200px;
	height: 216px;
}

#zonaE {
	margin-left: 1214px;
	margin-top: 480px;
	width: 201px;
	height: 218px;
}

#zonaF {
	margin-left: 1002px;
	margin-top: 711px;
	width: 203px;
	height: 252px;
}

#zonaG {
	margin-left: 1218px;
	margin-top: 711px;
	width: 203px;
	height: 269px;
}

#zonaH {
	margin-left: 1003px;
	margin-top: 972px;
	width: 204px;
	height: 67px;
}

input, textArea {
	font-family: sans-serif;
	width: 200px; 
	margin-top: 20px;
	margin-bottom: 10px; 
	background: rgb(255, 255, 255);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.123);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}
input:focus, textarea:focus { box-shadow: inset 0 -5px 45px rgba(0, 0, 0, 0.438), 0 1px 1px rgba(0, 0, 0, 0.438); }

input::placeholder,
textarea::placeholder {
  color: #757575;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}

.checkbox {
	position: relative;
	z-index: 0;
	cursor: pointer;
	margin: 0px;
	margin-top: 9px;
	transform: scale(0.65);
	padding: 10px;
	width: 40px;
	height: 40px;
}

.checkbox:focus {box-shadow: none;}

#seleccionarTodo {
	position: relative;
	float: right;
}

#contenedor-delete-selected:hover {background-color: #3b3b3b;}

#contenedor-delete-selected:active {background-color: #505050;}

#contenedor-delete-selected {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	float: right;
	margin-top: 8px;
	margin-left: 5px;
	padding-right: 3px;
	padding-top: 2px;
}

#avatar {
	position: fixed;
	z-index: 60;
	float: left;
	-webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0px;
    height: 40px;
    width: 40px;
	margin-right: 10px;
}

#clickAvatar{
	z-index: 60;
	position: fixed;
	float: left;
	left: 0;
	height: 40px;
    width: 40px;
	margin-left: 8px;
	border-radius: 50%;
	color: transparent;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
	border: 1;
}

#clickAvatar:hover {
	box-shadow: inset 0 -5px 45px #3b3b3b;
}

#clickAvatar:active {
	box-shadow: inset 0 -5px 45px #505050;
}

#options-card {
	position: fixed;
	z-index: 60;
	float: left;
	width: auto;
	height: auto;
	margin-left: 50px;
	background-color: #202020;
	border: none;
	outline: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 13px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

#options-card img {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 10px;
}

#options-card p {
	display: inline;
}

#options-card a {
	color: #fefefe;
	text-decoration: none;
}

.op {
	height: 34px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
}

.op:hover {
	background-color: #3b3b3b;
}

.op:active{
	background-color: #505050;
}

.fotoPerf {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}

#contenedor-delete {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-top: 3px;
	margin-left: 3px;
	padding-right: 2px;
	padding-top: 2px;
}

#contenedor-delete:hover {background-color: #3b3b3b;}

#contenedor-delete:active {background-color: #505050;}

.contenedor-icono {
	float: right;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
}

.contenedor-icono:hover {
	background-color: #3b3b3b;
}

.contenedor-icono:active {
	background-color: #505050;
}

#add_icon {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	cursor: pointer;
}

.contenedor-icono-cruz, .contenedor-icono-edit {
	float: right;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 5px;
	margin-bottom: 5px;
	padding-top: 3px;
	padding-right: 1px;
	cursor: pointer;
}

.contenedor-icono-edit:hover, .contenedor-icono-cruz:hover {
	background-color: #3b3b3b;
}

.contenedor-icono-edit:active, .contenedor-icono-cruz:active {
	background-color: #505050;
}

.contenedor-icono-edit {
	margin-bottom: 0px;
	padding-left: 1px;
}

#addCruz_icon {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	cursor: pointer;
}

#delete_icon {
	margin-right: 1px;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	cursor: pointer;
}

#contenedor-delete {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	margin-top: 3px;
	margin-left: 2px;
	padding-right: 2px;
	padding-top: 1px;
}

#contenedor-delete:hover {background-color: #3b3b3b;}

#contenedor-delete:active {background-color: #505050;}

.rainbow-button {
	margin: 0px auto;
	text-decoration:none;
	color:#FFF;
	width:calc(200px + 6px);
	height:calc(30px + 6px);
	background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
	border-radius:5px;
	display:flex;
	align-items:center;
	justify-content:center;
	text-transform:uppercase;
	font-size:16px;
	font-weight:bold;
	}
.rainbow-button:after {
	content:attr(alt);
	width:200px;
	height:30px;
	background-color:#191919;
	display:flex;
	align-items:center;
	justify-content:center;
}
.rainbow-button {
	animation:slidebg 3s linear infinite;
}

.rainbow-button:hover {
	animation:slidebg 1s linear infinite;
}

@keyframes slidebg {
to {
	background-position:206px;
}
}

.tabla {
	border-collapse: collapse;
	min-width: 600px;
	text-align: center;
	margin: 0px auto;
}

th {
	width: 25%;
}

td {
	width: 25%;
}

tr {
	height: 30px;
}

.clicado {
	background-color: #2c2b3d;
}

.filaTabla:hover {
	margin: 0px;;
	background-color: #5d5b7f;
}

.fotoTabla {
	width: 23px;
	height: 23px;
	border-radius: 50%;
	vertical-align: middle;
}

.fila-cancelada {
    background-color: #2c2c2c;
    color: #888;
    opacity: 0.6;
    /*pointer-events: none;*/
}

.card {
	overflow-y: auto;
  	overflow-x: hidden; 
	text-align: center;
	z-index: 200;
	position: fixed;
	margin: auto;
	margin-top: 40px;
	top: 10%;
	left: 0;
	right: 0;
	width: 400px;
	height: 70%;
	display: none;
	opacity: 0;
	border-radius: 10px;
    background-color: #000000;
	padding-top: 3px;
}

.card-content {
	color: white;
	display: none;
}
.card-content h2, h1{
	letter-spacing:1px;
	margin-top: 0px;
	text-align:center;
}

#contenedor-cruz {
	position: fixed;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-left: 342px;
	cursor: pointer;
	padding-top: 10px;
}

#contenedor-cruz:hover {
	background-color: #3b3b3b;
}

#contenedor-cruz:active {
	background-color: #505050;
}

#cerrar {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	cursor: pointer;
}

.info {
	z-index: 1;
	position: absolute;
	margin: auto;
	margin-top: 80px;
	left: 0;
	right: 0;
	color: #fff;
    display: block;
	width: 30%;
	padding-top: 20px;
}
.info h2, h3 {letter-spacing:1px; text-align:center;}

#continuar {
	position: relative;
	cursor: pointer;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

#continuar:hover {
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2);
}

#continuar:active {
	box-shadow: inset 0 -5px 45px rgba(26, 26, 26, 0.4), 0 1px 1px rgba(34, 34, 34, 0.2);
}

#hidden-button {
	cursor: pointer;
	border: 0px;
	margin-left: -237px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: absolute;
	float: left;
	width: 100%;
	height: 100%;
	color: transparent;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
}

.flecha-up {
	margin: 0px auto;
    width:0px;
    height:0px;
    border-left:25px solid transparent;
    border-right:25px solid transparent;
    border-bottom:25px solid #2c2b3d;
    font-size:0px;
    line-height:0px;
}

#divEditFoto {
	display: none;
	opacity: 1;
	margin: auto;
	top: 10%;
	left: 0;
	right: 0;
	margin-top: 365px;
	width: 500px;
	background-color: transparent;
}

#contenidoEditFoto {
	border-radius: 10px;
	background-color: #2c2b3d;
	width: 100%;
	padding-top: 30px;
}

#quitarFotoPerro, #cambiarFotoPerro {
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 60px;
	width: 100%;
	background-color: black;
}

select{
	font-size: 24px;
	width: 200px; 
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 3px;
	margin-right: 3px;
	background: rgb(255, 255, 255);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: rgb(0, 0, 0);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.123);
	border: 1px solid rgb(255, 255, 255);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

option{
	color: black;
	background-color: white;
}