.formulario { 
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width:300px;
}

.formulario h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.inp { 
	width: 100%; 
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

select{
	width: 100%; 
	height: 42px;
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #757575;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

select:valid {
  color: #fff;
}

option{
	color: black;
	background-color: white;
}

input, textarea  { 
	width: 100%; 
	height: 42px;
	margin-bottom: 10px; 
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

input:focus, textarea:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

input::placeholder,
textarea::placeholder {
  color: #757575;
  font-family: sans-serif;
  font-style: normal;
  font-weight: normal;
}

#avatar {
	position: fixed;
	z-index: 60;
	float: left;
	-webkit-background-size: 32px 32px;
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin-left: 8px;
	margin-top: 8px;
    height: 40px;
    width: 40px;
	margin-right: 10px;
}

#clickAvatar{
	z-index: 60;
	position: fixed;
	float: left;
	left: 0;
	height: 40px;
    width: 40px;
	margin-left: 8px;
	margin-top: 8px;
	border-radius: 50%;
	color: transparent;
	background-color: transparent;
	border-color: transparent;
	cursor: pointer;
	border: 1;
}

#clickAvatar:hover {
	box-shadow: inset 0 -5px 45px #3b3b3b;
}

#clickAvatar:active {
	box-shadow: inset 0 -5px 45px #505050;
}

#options-card {
	position: fixed;
	z-index: 60;
	float: left;
	width: auto;
	height: auto;
	margin-left: 58px;
	margin-top: 8px;
	background-color: #202020;
	border: none;
	outline: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 13px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

#options-card img {
	width: 20px;
	height: 20px;
	float: left;
	margin-right: 10px;
}

#options-card p {
	display: inline;
}

#options-card a {
	color: #fefefe;
	text-decoration: none;
}

.op {
	height: 34px;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 10px;
	padding-right: 10px;
}

.op:hover {
	background-color: #3b3b3b;
}

.op:active{
	background-color: #505050;
}